.container{
    background-image: linear-gradient(0deg,rgb(200, 233, 227),rgb(163, 230, 227),rgb(41, 162, 180));
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-1{
    background-color:rgba(0,0,0,0);
    height: 600px;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}
#btn1,#btn2{
    margin: 10px;
}
#div{
border:2px solid grey;
margin:5px;
}
#task{
font-family: 'Indie Flower', cursive;
font-size:25px;
}