{%load static%}
<link rel="stylesheet" href="{% static 'css/landing1.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container col-lg-12">
    <div class="container-1 col-lg-6 ">
        <h1>Your to do list </h1>
        <form method="POST" action="create" class="form-group form-inline">
            {%csrf_token%}
<!--            {{form.title}}-->
            <input type="text" placeholder="Create your todolist" name="title" class="form-control col-lg-8 mx-2">
            <input type="submit" class="btn btn-secondary mx-2 " placeholder="Create">
        </form>

    </div>
</div>

